

<div class="chat_chat" onclick="AnHienKhungChat()"><strong id="sotn">0</strong><i class="fa fa-comments"></i></div>
<div id="ChatChinh">
    <div id="chat_danhsach">
        
    </div>
    <div id="chat_tenshop">
        <strong id="strongtenshop"></strong>
    </div>
    <div class="chat_khungchat" id="chat_khungchat">
       
    </div>
</div>

<script>
    // chi tiet chat
    function ChiTietChat(id, tenshop) {
        // console.log(id);
        $.ajax({
            url: '/Chat/ChiTietTinNhan',
            type: 'post',
            data: {
                msv: id
            },
            success: function (data) {
                // console.log(data);
                var str = '';
                str += '<div class="chat_noidung" id="chat_noidung">';
                for (var i in data) {
                    if (data[i].latinguidi == true) {
                        str += '<div class="chat_gui chat_tinnhan"><div class="chat_tn">' + data[i].noidung + '</div><small class="chat_tn">' + data[i].thoigian + '</small></div>';
                    }
                    else {
                        str += '<div class="chat_nhan chat_tinnhan"><div class="chat_tn">' + data[i].noidung + '</div><small class="chat_tn">' + data[i].thoigian + '</small></div>';
                    }
                    
                }
                str += '</div>';
                str += '<div class="chat_soantin"><input class="form-control" type="text" id="chat_msg" /><button class="form-control btn-primary fa fa-paper-plane-o"></button></div>';
                document.getElementById('chat_khungchat').innerHTML = str;
                document.getElementById('strongtenshop').innerHTML = tenshop;
                $("#chat_noidung").scrollTop($("#chat_noidung")[0].scrollHeight);
                $("#chat_msg").focus();
                ResetChat();
            }
        })
    }

    // Doc tin nhan 


    // an hien khung chat
    function AnHienKhungChat() {
        var d = document.getElementById("ChatChinh").style.display;
        if (d == "none") {
            document.getElementById("ChatChinh").style.display = "unset";
            ResetChat();
        }
        else {
            document.getElementById("ChatChinh").style.display = "none";
        }
        HienTN();
    }

    // reset chat
    function ResetChat() {
        $.ajax({
            url: '/Chat/HienDanhSach',
            type: 'get',
            success: function (data) {
                console.log(data)
                var str = ''
                for (var i in data) {
                    if (data[i].tinCuoi.dadoc == false) {
                        str += '<div class="chat_doanchat" style="background: #0f893b;border-bottom: 1px solid #ffffff;border-top: 1px solid #ffffff;border-radius:15px" onclick="ChiTietChat(\'' + data[i].maNguoiNhan + '\',\'' + data[i].tenShop + '\')">'
                    }
                    else {
                        str += '<div class="chat_doanchat" style="border-radius:15px" onclick="ChiTietChat(\'' + data[i].maNguoiNhan + '\',\'' + data[i].tenShop + '\')">'
                    }
                    str += '<div style="width: 20%;">'
                    if (data[i].tinCuoi.dadoc == false) {
                        str += '<img src="' + data[i].img + '" style="width: 40px;height:40px;border-radius: 50%;margin-left: 5px;margin-top:5px;border: 1px solid white" />'
                    }
                    else {
                        str += '<img src="' + data[i].img + '" style="width: 40px;height:40px;border-radius: 50%;margin-left: 5px;margin-top:5px;border: 0.5px solid green" />'
                    }
                    str += '</div>'
                    str += '<div style="width: 80%;margin-left:5px;" id="chat_ten">'
                    if (data[i].tinCuoi.dadoc == false) {
                        str += '<table class="chat_table" style="color:#ffffff">'
                    }
                    else {
                        str += '<table class="chat_table">'
                    }
                    
                    str += '<tr><td colspan="3"><strong>' + data[i].tenShop + '</strong></td></tr>'
                    str += '<tr><td colspan="2">' + data[i].tinCuoi.noidung + '</td><td style="text-align:center !important" colspan="1"><small>' + data[i].tinCuoi.thoigian + '</small></td></tr>'
                    str += '</table>'
                    str += '</div>'
                    str += '</div>'
                }
                document.getElementById('chat_danhsach').innerHTML = str;
                HienTN();
            }
        })
    }

    // hien so tn
    function HienTN() {
        $.ajax({
            url: '/Chat/SoTinNhanChuaDoc',
            type: 'get',
            success: function (data) {
                document.getElementById('sotn').innerHTML = data;
            }
        })
    }

    // ready
    $(document).ready(function () {
        var i = '';
        i += '<div style="padding: 20% 0; text-align: center;">';
        i += '<i class="fa fa-comments" style="font-size: 5em;color:#0f893b"></i>';
        i += '<p style="font-size: 18px;color:#0f893b">Bắt đầu trò chuyện</p>'
        i += '</div>'
        document.getElementById("chat_khungchat").innerHTML = i;
        document.getElementById("ChatChinh").style.display = "none";
        HienTN();
    })
</script>