

<a href="@Url.Action("DanhSachSanPham","CuaHang")" class="nav-item nav-link dndk dkch">Danh sách sản phẩm <i class="fa fa-sign-in mr-1"></i></a>
<a href="@Url.Action("ThemSanPham","SanPham")" class="nav-item nav-link dndk dkch">Thêm sản phẩm mới <i class="fa fa-user-plus"></i></a>
<a href="" class="nav-item nav-link dndk dkch">Danh sách mã khuyến mãi <i class="fa fa-user-plus"></i></a>
<a href="" class="nav-item nav-link dndk dkch">Thêm khuyến mãi mới <i class="fa fa-user-plus"></i></a>